;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.3"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Clojure wrapper of autoconfigure OpenTelemetry SDK extension
           com.github.steffan-westcott/clj-otel-sdk-extension-autoconfigure
           {:local/root "../../../../../clj-otel-sdk-extension-autoconfigure"}

           ;; Clojure wrapper of JVM metrics instrumentation
           com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java17
           {:local/root "../../../../../clj-otel-instrumentation-runtime-telemetry-java17"}

           ;; OpenTelemetry exporter that uses OTLP
           io.opentelemetry/opentelemetry-exporter-otlp {:mvn/version "1.55.0"}

           ;; Automatically adds OpenTelemetry resources to exported telemetry
           io.opentelemetry.instrumentation/opentelemetry-resources {:mvn/version "2.21.0-alpha"}

           ;; Pedestal HTTP server with Jetty integration
           io.pedestal/pedestal.interceptor {:mvn/version "0.8.1"}
           io.pedestal/pedestal.jetty {:mvn/version "0.8.1"}
           io.pedestal/pedestal.route {:mvn/version "0.8.1"}
           io.pedestal/pedestal.service {:mvn/version "0.8.1"}

           ;; Common async utilities
           org.example/common.async {:local/root "../../../../common/async"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}

           ;; Uncomment the following io.grpc deps to use them instead of OkHttp for OTLP exporter
           ; io.grpc/grpc-netty-shaded {:mvn/version "1.76.0"}
           ; io.grpc/grpc-protobuf {:mvn/version "1.76.0"}
           ; io.grpc/grpc-stub {:mvn/version "1.76.0"}

          }

 :aliases {:log4j {:extra-deps {;; Log4j2 OTLP appender
                                io.opentelemetry.instrumentation/opentelemetry-log4j-appender-2.17 {:mvn/version "2.21.0-alpha"}

                                ;; Add trace_id, span_id and trace_flags to Log4j2 NDC
                                io.opentelemetry.instrumentation/opentelemetry-log4j-context-data-2.17-autoconfigure
                                {:mvn/version "2.21.0-alpha"}

                                ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation
                                org.apache.logging.log4j/log4j-core        {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.25.2"}}

                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 nrepl/nrepl           {:mvn/version "1.4.0"}
                                 http-kit/http-kit     {:mvn/version "2.8.1"}}
                   :jvm-opts    ["-Dio.pedestal.dev-mode=true"]}}}
