;!zprint {:style [:respect-nl] :width 140}

{:paths ["src"]

 :deps  {com.github.seancorfield/logging4j2       {:mvn/version "1.0.5"}
         com.github.steffan-westcott/clj-otel-api {:local/root "../../../clj-otel-api"}}}
