;!zprint {:style [:respect-nl] :width 140}

{:paths ["src" "resources"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/core.async {:mvn/version "1.6.673"}
        com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.3"}
        io.pedestal/pedestal.service {:mvn/version "0.6.0"}
        io.pedestal/pedestal.route {:mvn/version "0.6.0"}
        io.pedestal/pedestal.interceptor {:mvn/version "0.6.0"}
        io.pedestal/pedestal.jetty {:mvn/version "0.6.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        org.example/common-utils.core-async {:local/root "../../../common-utils/core-async"}
        org.example/common-utils.interceptor {:local/root "../../../common-utils/interceptor"}}

 :aliases
 {;; Use this alias to run with OpenTelemetry instrumentation agent

  :otel {:jvm-opts ["-javaagent:../../../opentelemetry-javaagent.jar"
                    "-Dotel.resource.attributes=service.name=solar-system-service"]}



  ;; -----------------------------
  ;; Select exactly one traces-* alias for export of traces

  :traces-none {:jvm-opts ["-Dotel.traces.exporter=none"]}

  :traces-collector-grpc {:jvm-opts ["-Dotel.traces.exporter=otlp"
                                     "-Dotel.exporter.otlp.traces.protocol=grpc"]}

  :traces-collector-http {:jvm-opts ["-Dotel.traces.exporter=otlp"
                                     "-Dotel.exporter.otlp.traces.protocol=http/protobuf"]}

  :traces-honeycomb-grpc
  {:jvm-opts ["-Dotel.traces.exporter=otlp"
              "-Dotel.exporter.otlp.traces.protocol=grpc"
              "-Dotel.exporter.otlp.traces.endpoint=https://api.honeycomb.io:443"
              "-Dotel.exporter.otlp.headers=x-honeycomb-team=YOUR_HONEYCOMB_TEAM_API_KEY,x-honeycomb-dataset=YOUR_HONEYCOMB_DATASET"]}

  :traces-honeycomb-http
  {:jvm-opts ["-Dotel.traces.exporter=otlp"
              "-Dotel.exporter.otlp.traces.protocol=http/protobuf"
              "-Dotel.exporter.otlp.traces.endpoint=https://api.honeycomb.io:443/v1/traces"
              "-Dotel.exporter.otlp.headers=x-honeycomb-team=YOUR_HONEYCOMB_TEAM_API_KEY,x-honeycomb-dataset=YOUR_HONEYCOMB_DATASET"]}

  :traces-lightstep-grpc {:jvm-opts ["-Dotel.traces.exporter=otlp"
                                     "-Dotel.exporter.otlp.traces.protocol=grpc"
                                     "-Dotel.exporter.otlp.traces.endpoint=https://ingest.lightstep.com:443"
                                     "-Dotel.exporter.otlp.headers=lightstep-access-token=YOUR_LIGHTSTEP_ACCESS_TOKEN"]}

  :traces-zipkin {:jvm-opts ["-Dotel.traces.exporter=zipkin"]}

  ;; used for debugging
  :traces-logging {:jvm-opts ["-Dotel.traces.exporter=logging"]}

  ;; used for debugging
  :traces-logging-otlp {:jvm-opts ["-Dotel.traces.exporter=logging-otlp"]}



  ;; -----------------------------
  ;; Select exactly one metrics-* alias for export of metrics

  :metrics-none {:jvm-opts ["-Dotel.metrics.exporter=none"]}

  :metrics-collector-grpc {:jvm-opts ["-Dotel.metrics.exporter=otlp"
                                      "-Dotel.exporter.otlp.metrics.protocol=grpc"
                                      "-Dotel.metric.export.interval=10000"]}

  :metrics-collector-http {:jvm-opts ["-Dotel.metrics.exporter=otlp"
                                      "-Dotel.exporter.otlp.metrics.protocol=http/protobuf"
                                      "-Dotel.metric.export.interval=10000"]}

  ;; used for debugging
  :metrics-logging {:jvm-opts ["-Dotel.metrics.exporter=logging"
                               "-Dotel.metric.export.interval=10000"]}

  ;; used for debugging
  :metrics-logging-otlp {:jvm-opts ["-Dotel.metrics.exporter=logging-otlp"
                                    "-Dotel.metric.export.interval=10000"]}



  ;; -----------------------------
  ;; Select exactly one logs-* alias for export of logs

  :logs-none {:jvm-opts ["-Dotel.logs.exporter=none"]}



  ;; -----------------------------
  ;; Select exactly one logging-* alias for application logging

  :logging-log4j2 {:jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]
                   :extra-deps {org.example/common-utils.log4j2            {:local/root "../../../common-utils/log4j2"}
                                org.apache.logging.log4j/log4j-core        {:mvn/version "2.20.0"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.20.0"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.20.0"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.20.0"}
                                org.apache.logging.log4j/log4j-layout-template-json {:mvn/version "2.20.0"}}}



  ;; -----------------------------
  ;; Used for development of clj-otel-* libraries with the examples

  :dev {:override-deps {com.github.steffan-westcott/clj-otel-api {:local/root "../../../../clj-otel-api"}}}

 }}
