;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Clojure wrapper of autoconfigure OpenTelemetry SDK extension
           com.github.steffan-westcott/clj-otel-sdk-extension-autoconfigure
           {:local/root "../../../../../clj-otel-sdk-extension-autoconfigure"}

           ;; Clojure wrapper of JVM metrics instrumentation
           com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java17
           {:local/root "../../../../../clj-otel-instrumentation-runtime-telemetry-java17"}

           ;; OpenTelemetry exporter that uses OTLP
           io.opentelemetry/opentelemetry-exporter-otlp {:mvn/version "1.30.1"}

           ;; Automatically adds OpenTelemetry resources to exported telemetry
           io.opentelemetry.instrumentation/opentelemetry-resources {:mvn/version "1.30.0-alpha"}

           ;; Reitit HTTP router
           metosin/reitit-middleware {:mvn/version "0.6.0"}
           metosin/reitit-ring {:mvn/version "0.6.0"}

           ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation.
           org.apache.logging.log4j/log4j-core {:mvn/version "2.20.0"}
           org.apache.logging.log4j/log4j-jcl {:mvn/version "2.20.0"}
           org.apache.logging.log4j/log4j-jul {:mvn/version "2.20.0"}
           org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.20.0"}

           ;; Enable JSON formatting of log messages to console/file
           org.apache.logging.log4j/log4j-layout-template-json {:mvn/version "2.20.0"}

           ;; Functions for logging strings and maps using Log4j2
           org.example/common.log4j2.utils {:local/root "../../../../common/log4j2.utils"}

           ;; Ring-Jetty web server integration
           ring/ring-jetty-adapter {:mvn/version "1.10.0"}

           ;; Uncomment the following io.grpc deps to use them instead of OkHttp for OTLP exporter

           ; io.grpc/grpc-netty-shaded {:mvn/version "1.58.0"}
           ; io.grpc/grpc-protobuf {:mvn/version "1.58.0"}
           ; io.grpc/grpc-stub {:mvn/version "1.58.0"}
          }

 :aliases {:otel {:jvm-opts ["-Dotel.resource.attributes=service.name=random-word-service"
                             "-Dotel.metric.export.interval=10000"
                             "-Dotel.logs.exporter=none"
                             "-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                             "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}}}
