;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}
           com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.2"}
           io.opentelemetry/opentelemetry-exporter-otlp-metrics {:mvn/version "1.13.0-alpha"}}
 :aliases {:dev      {:override-deps {com.github.steffan-westcott/clj-otel-api {:local/root "../clj-otel-api"}}}
           :snapshot {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.2-SNAPSHOT"}}}}}
