.calva
.clj-kondo/.cache
.clj-kondo/com.github.seancorfield
.clj-kondo/com.github.steffan-westcott
.clj-kondo/http-kit
.clj-kondo/metosin
.cpcache
.idea
.lein-*
.lsp
.nrepl-history
.nrepl-port
.portal
.rebel_readline_history
.socket-repl-port
.vscode
*.iml
*.jar
*.swp
*.code-workspace

/clj-otel-*/target/
/examples/**/target/