.calva
.clj-kondo/.cache
.cpcache
.idea
.lein-*
.lsp
.nrepl-history
.nrepl-port
.portal
.rebel_readline_history
.socket-repl-port
.vscode
*.iml
*.jar
*.swp
*.code-workspace

/clj-otel-*/target/
/examples/**/target/