volumes:
  m2:
    name: example.clj-otel.m2
    external: true
  gitlibs:
    name: example.clj-otel.gitlibs
    external: true

services:

  # Example microservice random-word-service
  random-word-service:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    environment:
      OTEL_RESOURCE_ATTRIBUTES: "service.name=random-word-service,service.instance.id=random-word-service-1"
    ports:
      - "8091:8091"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../../clj-otel-api:/app/clj-otel-api:ro
      - ../../../../clj-otel-sdk-extension-autoconfigure:/app/clj-otel-sdk-extension-autoconfigure:ro
      - ../../../../clj-otel-instrumentation-runtime-telemetry-java17:/app/clj-otel-instrumentation-runtime-telemetry-java17:ro
      - ../../../common:/app/examples/common:ro
      - ./random-word-service/deps.edn:/app/examples/microservices/manual-instrument/middleware/random-word-service/deps.edn:ro
      - ./random-word-service/dev:/app/examples/microservices/manual-instrument/middleware/random-word-service/dev:ro
      - ./random-word-service/resources:/app/examples/microservices/manual-instrument/middleware/random-word-service/resources:ro
      - ./random-word-service/src:/app/examples/microservices/manual-instrument/middleware/random-word-service/src:ro
    working_dir: "/app/examples/microservices/manual-instrument/middleware/random-word-service"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:log4j:dev -m example.random-word-service.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    cpu_count: 2
    healthcheck:
      start_period: 120s
      interval: 5s
      timeout: 1s
      retries: 2
      test: "wget --spider -q http://localhost:8081/ping || exit 1"
    depends_on:
      otel-collector:
        condition: service_started


  # Example microservice puzzle-service
  puzzle-service:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    environment:
      OTEL_RESOURCE_ATTRIBUTES: "service.name=puzzle-service,service.instance.id=puzzle-service-1"
      SERVER:
    ports:
      - "8090:8090"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../../clj-otel-api:/app/clj-otel-api:ro
      - ../../../../clj-otel-sdk-extension-autoconfigure:/app/clj-otel-sdk-extension-autoconfigure:ro
      - ../../../../clj-otel-instrumentation-runtime-telemetry-java17:/app/clj-otel-instrumentation-runtime-telemetry-java17:ro
      - ../../../common:/app/examples/common:ro
      - ./puzzle-service/deps.edn:/app/examples/microservices/manual-instrument/middleware/puzzle-service/deps.edn:ro
      - ./puzzle-service/dev:/app/examples/microservices/manual-instrument/middleware/puzzle-service/dev:ro
      - ./puzzle-service/resources:/app/examples/microservices/manual-instrument/middleware/puzzle-service/resources:ro
      - ./puzzle-service/src:/app/examples/microservices/manual-instrument/middleware/puzzle-service/src:ro
    working_dir: "/app/examples/microservices/manual-instrument/middleware/puzzle-service"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:log4j:dev -m example.puzzle-service.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    cpu_count: 2
    healthcheck:
      start_period: 120s
      interval: 5s
      timeout: 1s
      retries: 2
      test: "wget --spider -q http://localhost:8080/ping || exit 1"
    depends_on:
      random-word-service:
        condition: service_healthy
      otel-collector:
        condition: service_started


  # Load generator for puzzle-service
  puzzle-load-gen:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    ports:
      - "8092:8092"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../common:/app/examples/common:ro
      - ./puzzle-load-gen/deps.edn:/app/examples/microservices/manual-instrument/middleware/puzzle-load-gen/deps.edn:ro
      - ./puzzle-load-gen/dev:/app/examples/microservices/manual-instrument/middleware/puzzle-load-gen/dev:ro
      - ./puzzle-load-gen/resources:/app/examples/microservices/manual-instrument/middleware/puzzle-load-gen/resources:ro
      - ./puzzle-load-gen/src:/app/examples/microservices/manual-instrument/middleware/puzzle-load-gen/src:ro
    working_dir: "/app/examples/microservices/manual-instrument/middleware/puzzle-load-gen"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:log4j:dev -m example.puzzle-load-gen.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    depends_on:
      puzzle-service:
        condition: service_healthy


  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.123.0
    environment:
      GOMEMLIMIT: "400MiB"
    volumes:
      - ./otel-collector.yaml:/etc/otel-collector.yaml
    command:
      - --config=/etc/otel-collector.yaml
    depends_on:
      tempo:
        condition: service_started
      prometheus:
        condition: service_started


  # Loki
  loki:
    image: grafana/loki:3.1.0
    volumes:
      - ./loki.yaml:/etc/loki.yaml
    command: -config.file=/etc/loki.yaml


  # Tempo
  tempo:
    image: grafana/tempo:2.5.0
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    command:
      - -config.file=/etc/tempo.yaml


  # Prometheus
  prometheus:
    image: prom/prometheus:v3.2.1
    volumes:
      - ./prometheus.yaml:/etc/prometheus.yaml
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage


  # Grafana
  grafana:
    image: grafana/grafana-oss:11.1.0
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/grafana-datasources.yaml:ro
      - ./grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yaml:ro
      - ../../../common/dashboards/JVM.json:/var/lib/grafana/dashboards/JVM.json:ro
      - ../../../common/dashboards/HTTP-server-instances.json:/var/lib/grafana/dashboards/HTTP-server-instances.json:ro
      - ../../../common/dashboards/HTTP-server-routes.json:/var/lib/grafana/dashboards/HTTP-server-routes.json:ro
      - ./dashboards/overview.json:/var/lib/grafana/dashboards/overview.json:ro
      - ./dashboards/puzzles-and-words.json:/var/lib/grafana/dashboards/puzzles-and-words.json:ro
    environment:
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/overview.json
      - GF_NEWS_NEWS_FEED_ENABLED=false
    ports:
      - "3000:3000"       # Grafana web interface
    depends_on:
      - loki
      - tempo
      - prometheus
