;!zprint {:width 140}

{:paths   ["src"]
 :deps    {com.github.steffan-westcott/clj-otel-api {:local/root "../clj-otel-api"}
           io.opentelemetry.instrumentation/opentelemetry-runtime-telemetry-java17 {:mvn/version "2.19.0-alpha"}}
 :aliases {:release  {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.9"}}}
           :snapshot {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.9-SNAPSHOT"}}}}}
