;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           com.github.steffan-westcott/clj-otel-api {:local/root "../clj-otel-api"}
           io.opentelemetry.instrumentation/opentelemetry-runtime-telemetry-java17 {:mvn/version "2.14.0-alpha"}}
 :aliases {:release  {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.8"}}}
           :snapshot {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.8-SNAPSHOT"}}}}}
