;!zprint {:width 140}

{:config-paths ["../clj-otel-api/resources/clj-kondo.exports/com.github.steffan-westcott/clj-otel-api"]
 :lint-as      {example.common.async.async-style/route-span-binding clojure.core/let
                example.common.async.async-style/style-span-binding clojure.core/let
                example.common.async.auspex/route-span-binding clojure.core/let
                com.xadecimal.async-style/clet clojure.core/let}
 :linters      {:consistent-alias  {:aliases {clojure.core.async async
                                              clojure.string str
                                              steffan-westcott.clj-otel.api.attributes attr
                                              steffan-westcott.clj-otel.api.baggage baggage
                                              steffan-westcott.clj-otel.api.otel otel
                                              steffan-westcott.clj-otel.sdk.otel-sdk sdk
                                              steffan-westcott.clj-otel.api.trace.http trace-http
                                              steffan-westcott.clj-otel.api.trace.span span
                                              steffan-westcott.clj-otel.api.trace.style-span sspan
                                              steffan-westcott.clj-otel.context context}}
                :unsorted-required-namespaces {:level :warning}
                :missing-docstring {:level :warning}}}