{:endpoints   {:planet-service #or [#env PLANET_SERVICE_ENDPOINT "http://localhost:8081"]}
 :nrepl       {:bind "0.0.0.0"
               :port 8090}
 :server-impl #or [#env SERVER "sync"]
 :connector   {:host          "0.0.0.0"
               :port          8080
               :jetty-options {:max-threads 16}}}
