;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src"]

 :deps    {org.clojure/clojure     {:mvn/version "1.12.1"}
           ring/ring-jetty-adapter {:mvn/version "1.14.1"}
           com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.8"}}

 :aliases {:otel {:jvm-opts ["-javaagent:opentelemetry-javaagent.jar"
                             "-Dotel.resource.attributes=service.name=counter-service"
                             "-Dotel.metrics.exporter=none"
                             "-Dotel.logs.exporter=none"]}}}