{:paths   ["src"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.10.3"}
           ring/ring-jetty-adapter                  {:mvn/version "1.9.4"}
           com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.0-SNAPSHOT"}}

 :aliases {:otel {:jvm-opts ["-javaagent:opentelemetry-javaagent.jar"
                             "-Dotel.resource.attributes=service.name=tutorial"
                             "-Dotel.traces.exporter=jaeger"
                             "-Dotel.metrics.exporter=none"]}}}