;!zprint {:width 140}

{:paths ["src"]

 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}

         ;; Clojure wrapper of OpenTelemetry API
         com.github.steffan-westcott/clj-otel-api {:local/root "../../clj-otel-api"}

         ;; Functions to add OpenTelemetry resources to exported telemetry
         com.github.steffan-westcott/clj-otel-instrumentation-resources {:local/root "../../clj-otel-instrumentation-resources"}

         ;; Clojure wrapper of JVM metrics instrumentation
         com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java8
         {:local/root "../../clj-otel-instrumentation-runtime-telemetry-java8"}

         ;; Clojure wrapper of OpenTelemetry SDK, for programmatically creating exporters
         com.github.steffan-westcott/clj-otel-sdk {:local/root "../../clj-otel-sdk"}

         ;; Clojure wrapper of OpenTelemetry exporter that uses OTLP
         com.github.steffan-westcott/clj-otel-exporter-otlp {:local/root "../../clj-otel-exporter-otlp"}
         io.grpc/grpc-api {:mvn/version "1.59.0"} ; Workaround for https://github.com/open-telemetry/opentelemetry-java/issues/4839

         ;; Uncomment the following io.grpc deps to use them instead of OkHttp for OTLP exporter
         ; io.grpc/grpc-netty-shaded {:mvn/version "1.59.0"}
         ; io.grpc/grpc-protobuf {:mvn/version "1.59.0"}
         ; io.grpc/grpc-stub {:mvn/version "1.59.0"}

        }}
