;!zprint {:width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.2"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../clj-otel-api"}

           ;; Functions to add OpenTelemetry resources to exported telemetry
           com.github.steffan-westcott/clj-otel-instrumentation-resources {:local/root "../../clj-otel-instrumentation-resources"}

           ;; Clojure wrapper of JVM metrics instrumentation
           com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java8
           {:local/root "../../clj-otel-instrumentation-runtime-telemetry-java8"}

           ;; Clojure wrapper of OpenTelemetry SDK, for programmatically creating exporters
           com.github.steffan-westcott/clj-otel-sdk {:local/root "../../clj-otel-sdk"}

           ;; Clojure wrapper of OpenTelemetry exporter that uses OTLP
           com.github.steffan-westcott/clj-otel-exporter-otlp {:local/root "../../clj-otel-exporter-otlp"}
           io.grpc/grpc-api {:mvn/version "1.75.0"} ; Workaround for https://github.com/open-telemetry/opentelemetry-java/issues/4839

           ;; Uncomment the following io.grpc deps to use them instead of OkHttp for OTLP exporter
           ; io.grpc/grpc-netty-shaded {:mvn/version "1.75.0"}
           ; io.grpc/grpc-protobuf {:mvn/version "1.75.0"}
           ; io.grpc/grpc-stub {:mvn/version "1.75.0"}

          }

 :aliases {;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation.
           :log4j  {:extra-deps {org.apache.logging.log4j/log4j-core        {:mvn/version "2.25.2"}
                                 org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.25.2"}
                                 org.apache.logging.log4j/log4j-jul         {:mvn/version "2.25.2"}
                                 org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.25.2"}

                                 ;; Add trace_id, span_id and trace_flags to Log4j2 NDC
                                 io.opentelemetry.instrumentation/opentelemetry-log4j-context-data-2.17-autoconfigure {:mvn/version
                                                                                                                       "2.20.1-alpha"}}
                    :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                 "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           ;; Initialise Clojure classes at build time with GraalVM native-image
           :native {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}}}}
