;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.11.1"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Reitit HTTP router
           metosin/reitit-middleware {:mvn/version "0.6.0"}
           metosin/reitit-ring {:mvn/version "0.6.0"}

           ;; Functions for logging strings and maps using Log4j2
           org.example/common.log4j2.utils {:local/root "../../../../common/log4j2.utils"}

           ;; Ring-Jetty web server integration
           ring/ring-jetty-adapter {:mvn/version "1.10.0"}}

 :aliases {:otel  {:jvm-opts ["-javaagent:../../../../opentelemetry-javaagent.jar"
                              "-Dotel.semconv-stability.opt-in=http"
                              "-Dotel.resource.attributes=service.name=word-length-service"
                              "-Dotel.metric.export.interval=10000"
                              "-Dotel.logs.exporter=none"]}

           ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation.
           :log4j {:extra-deps {org.apache.logging.log4j/log4j-core        {:mvn/version "2.22.1"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.22.1"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.22.1"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.22.1"}
                                org.apache.logging.log4j/log4j-layout-template-json {:mvn/version "2.22.1"}}
                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}}}
