;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.11.3"}
           org.clojure/core.async {:mvn/version "1.6.681"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Cheshire JSON processing
           cheshire/cheshire {:mvn/version "5.13.0"}

           ;; clj-http HTTP client
           clj-http/clj-http {:mvn/version "3.13.0"}

           ;; Jackson deps version pinning
           com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.17.2"}
           com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version "2.17.2"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Reitit HTTP router
           metosin/jsonista {:mvn/version "0.3.9"}
           metosin/malli {:mvn/version "0.16.2"}
           metosin/muuntaja {:mvn/version "0.6.10"}
           metosin/reitit-malli {:mvn/version "0.7.1"}
           metosin/reitit-middleware {:mvn/version "0.7.1"}
           metosin/reitit-ring {:mvn/version "0.7.1"}

           ;; Functions for logging strings and maps using Log4j2
           org.example/common.log4j2.utils {:local/root "../../../../common/log4j2.utils"}

           ;; Utilities for core.async
           org.example/common.core-async.utils {:local/root "../../../../common/core-async.utils"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}

           ;; Ring-Jetty web server integration
           ring/ring-jetty-adapter {:mvn/version "1.12.2"}}

 :aliases {:otel  {:jvm-opts ["-javaagent:../../../../opentelemetry-javaagent.jar"]}

           ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation.
           :log4j {:extra-deps {org.apache.logging.log4j/log4j-core        {:mvn/version "2.23.1"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.23.1"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.23.1"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.23.1"}}
                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.0"}
                                 nrepl/nrepl           {:mvn/version "1.2.0"}
                                 http-kit/http-kit     {:mvn/version "2.8.0"}}}}}
