;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.4"}
           org.clojure/core.async {:mvn/version "1.9.829-alpha2"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper for CompletableFuture
           cc.qbits/auspex {:mvn/version "1.0.3"}

           ;; Cheshire JSON processing
           cheshire/cheshire {:mvn/version "6.1.0"}

           ;; Jackson deps version pinning
           com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.20.1"}
           com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version "2.20.1"}

           ;; Log4j2 appender and context data provider
           com.github.steffan-westcott/clj-otel-adapter-log4j {:local/root "../../../../../clj-otel-adapter-log4j"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; async/await functions built on core.async
           com.xadecimal/async-style {:mvn/version "0.1.0"}

           ;; hato HTTP client
           hato/hato {:mvn/version "1.0.0"}

           ;; Ring-Jetty web server integration
           info.sunng/ring-jetty9-adapter {:mvn/version "0.39.1"}
           info.sunng/ring-jetty9-adapter-http2 {:mvn/version "0.2.3"}

           ;; Reitit HTTP router
           metosin/jsonista {:mvn/version "0.3.13"}
           metosin/malli {:mvn/version "0.20.0"}
           metosin/muuntaja {:mvn/version "0.6.11"}
           metosin/reitit-malli {:mvn/version "0.9.2"}
           metosin/reitit-middleware {:mvn/version "0.9.2"}
           metosin/reitit-ring {:mvn/version "0.9.2"}

           ;; Functional effects and streaming
           missionary/missionary {:mvn/version "b.46"}

           ;; Common async utilities
           org.example/common.async {:local/root "../../../../common/async"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}

           ;; Common functions for Log4j2 logging with context
           org.example/log4j2.utils {:local/root "../../../../common/log4j2.utils"}}

 :aliases {:otel  {:jvm-opts [;; Use the OpenTelemetry instrumentation agent
                              "-javaagent:../../../../opentelemetry-javaagent.jar"

                              ;; Disable agent instrumentation to prevent conflict with clj-otel-adapter-log4j
                              "-Dotel.instrumentation.log4j-appender.enabled=false"
                              "-Dotel.instrumentation.log4j-context-data.enabled=false"]}

           :log4j {;; (Re)direct clojure.tools.logging and java.util.logging to Log4j2
                   :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                              "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.2"}
                                 nrepl/nrepl           {:mvn/version "1.5.2"}
                                 http-kit/http-kit     {:mvn/version "2.8.1"}}}}}
