;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.10.3"}
           com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.1"}
           io.opentelemetry/opentelemetry-exporter-otlp-trace {:mvn/version "1.11.0"}}
 :aliases {:dev      {:override-deps {com.github.steffan-westcott/clj-otel-api {:local/root "../clj-otel-api"}}}
           :snapshot {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.1-SNAPSHOT"}}}}}
