;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.1"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Pedestal HTTP server with Jetty integration
           io.pedestal/pedestal.interceptor {:mvn/version "0.7.2"}
           io.pedestal/pedestal.jetty {:mvn/version "0.7.2"}
           io.pedestal/pedestal.route {:mvn/version "0.7.2"}
           io.pedestal/pedestal.service {:mvn/version "0.7.2"}

           ;; Interceptor utilities
           org.example/common.interceptor.utils {:local/root "../../../../common/interceptor.utils"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}}

 :aliases {:otel  {:jvm-opts ["-javaagent:../../../../opentelemetry-javaagent.jar"]}

           :log4j {:extra-deps {;; Log4j2 OTLP appender
                                io.opentelemetry.instrumentation/opentelemetry-log4j-appender-2.17 {:mvn/version "2.17.1-alpha"}

                                ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation
                                org.apache.logging.log4j/log4j-core        {:mvn/version "2.25.1"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.25.1"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.25.1"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.25.1"}}

                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 nrepl/nrepl           {:mvn/version "1.3.1"}
                                 http-kit/http-kit     {:mvn/version "2.8.0"}}}}}
