;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}
           io.pedestal/pedestal.interceptor {:mvn/version "0.6.0"}
           io.pedestal/pedestal.jetty       {:mvn/version "0.6.0"}
           io.pedestal/pedestal.route       {:mvn/version "0.6.0"}
           io.pedestal/pedestal.service     {:mvn/version "0.6.0"}
           org.clojure/clojure              {:mvn/version "1.11.1"}
           org.example/common.interceptor.utils {:local/root "../../../../common/interceptor.utils"}}

 :aliases {;; Required configuration

           :otel           {:jvm-opts ["-javaagent:../../../../opentelemetry-javaagent.jar"
                                       "-Dotel.resource.attributes=service.name=planet-service"]}



           ;; -----------------------------

           ;; Select exactly one traces-* alias for export of traces

           :traces-none    {:jvm-opts ["-Dotel.traces.exporter=none"]}

           :traces-collector-grpc {:jvm-opts ["-Dotel.traces.exporter=otlp"
                                              "-Dotel.exporter.otlp.traces.protocol=grpc"]}

           :traces-collector-http {:jvm-opts ["-Dotel.traces.exporter=otlp"
                                              "-Dotel.exporter.otlp.traces.protocol=http/protobuf"]}



           ;; -----------------------------

           ;; Select exactly one metrics-* alias for export of metrics

           :metrics-none   {:jvm-opts ["-Dotel.metrics.exporter=none"]}

           :metrics-collector-grpc {:jvm-opts ["-Dotel.metrics.exporter=otlp"
                                               "-Dotel.exporter.otlp.metrics.protocol=grpc"
                                               "-Dotel.metric.export.interval=10000"]}

           :metrics-collector-http {:jvm-opts ["-Dotel.metrics.exporter=otlp"
                                               "-Dotel.exporter.otlp.metrics.protocol=http/protobuf"
                                               "-Dotel.metric.export.interval=10000"]}



           ;; -----------------------------

           ;; Select exactly one logs-* alias for export of logs

           :logs-none      {:jvm-opts ["-Dotel.logs.exporter=none"]}



           ;; -----------------------------

           ;; Select exactly one logging-* alias for application logging

           :logging-log4j2 {:jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                         "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]
                            :extra-deps {org.apache.logging.log4j/log4j-core        {:mvn/version "2.20.0"}
                                         org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.20.0"}
                                         org.apache.logging.log4j/log4j-jul         {:mvn/version "2.20.0"}
                                         org.apache.logging.log4j/log4j-layout-template-json {:mvn/version "2.20.0"}
                                         org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.20.0"}
                                         org.example/common.log4j2.utils            {:local/root "../../../../common/log4j2.utils"}}}

          }}
