;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.3"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Log4j2 appender and context data provider
           com.github.steffan-westcott/clj-otel-adapter-log4j {:local/root "../../../../../clj-otel-adapter-log4j"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Pedestal HTTP server with Jetty integration
           io.pedestal/pedestal.interceptor {:mvn/version "0.8.1"}
           io.pedestal/pedestal.jetty {:mvn/version "0.8.1"}
           io.pedestal/pedestal.route {:mvn/version "0.8.1"}
           io.pedestal/pedestal.service {:mvn/version "0.8.1"}

           ;; Common async utilities
           org.example/common.async {:local/root "../../../../common/async"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}

           ;; Common functions for Log4j2 logging with context
           org.example/log4j2.utils {:local/root "../../../../common/log4j2.utils"}}

 :aliases {:otel  {:jvm-opts [;; Use the OpenTelemetry instrumentation agent
                              "-javaagent:../../../../opentelemetry-javaagent.jar"

                              ;; Disable agent instrumentation to prevent conflict with clj-otel-adapter-log4j
                              "-Dotel.instrumentation.log4j-appender.enabled=false"
                              "-Dotel.instrumentation.log4j-context-data.enabled=false"]}

           :log4j {;; (Re)direct clojure.tools.logging and java.util.logging to Log4j2
                   :jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                              "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 nrepl/nrepl           {:mvn/version "1.5.1"}
                                 http-kit/http-kit     {:mvn/version "2.8.1"}}
                   :jvm-opts    ["-Dio.pedestal.dev-mode=true"]}}}
