{:cljdoc.doc/tree [["Introduction" {:file "README.adoc"}]
                   ["Tutorial" {:file "doc/tutorial.adoc"}]
                   ["Guides" {:file "doc/guides.adoc"}]
                   ["API & Reference" {:file "doc/reference.adoc"}]
                   ["Concepts" {:file "doc/concepts.adoc"}]
                   ["Examples" {:file "doc/examples.adoc"}]
                   ["Changelog" {:file "CHANGELOG.adoc"}]]}