;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.3"}
           org.clojure/core.async {:mvn/version "1.8.741"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Clojure wrapper for CompletableFuture
           cc.qbits/auspex {:mvn/version "1.0.3"}

           ;; JSON parsing
           cheshire/cheshire {:mvn/version "6.1.0"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; async/await functions built on core.async
           com.xadecimal/async-style {:mvn/version "0.1.0"}

           ;; hato HTTP client
           hato/hato {:mvn/version "1.0.0"}

           ;; Pedestal HTTP server with Jetty integration
           io.pedestal/pedestal.interceptor {:mvn/version "0.8.0"}
           io.pedestal/pedestal.jetty {:mvn/version "0.8.0"}
           io.pedestal/pedestal.route {:mvn/version "0.8.0"}
           io.pedestal/pedestal.service {:mvn/version "0.8.0"}

           ;; Asynchronous event programming
           manifold/manifold {:mvn/version "0.4.3"}

           ;; Functional effects and streaming
           missionary/missionary {:mvn/version "b.46"}

           ;; Common async utilities
           org.example/common.async {:local/root "../../../../common/async"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}}

 :aliases {:otel  {:jvm-opts ["-javaagent:../../../../opentelemetry-javaagent.jar"]}

           :log4j {:extra-deps {;; Log4j2 OTLP appender
                                io.opentelemetry.instrumentation/opentelemetry-log4j-appender-2.17 {:mvn/version "2.20.1-alpha"}

                                ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation
                                org.apache.logging.log4j/log4j-core        {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.25.2"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.25.2"}}

                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 nrepl/nrepl           {:mvn/version "1.4.0"}
                                 http-kit/http-kit     {:mvn/version "2.8.1"}}
                   :jvm-opts    ["-Dio.pedestal.dev-mode=true"]}}}
