services:

  # Jaeger
  jaeger:
    image: jaegertracing/jaeger:2.11.0
    ports:
      - "16686:16686"  # Jaeger web interface

  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector:0.139.0
    volumes:
      - ./otel-collector.yaml:/etc/otel-collector.yaml
    command:
      - --config=/etc/otel-collector.yaml
    ports:
      - "4318:4318"    # OTLP HTTP receiver
    depends_on:
      - jaeger
