;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           org.clojure/core.async {:mvn/version "1.8.741"}
           org.clojure/tools.logging {:mvn/version "1.3.0"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Cheshire JSON processing
           cheshire/cheshire {:mvn/version "5.13.0"}

           ;; clj-http HTTP client
           clj-http/clj-http {:mvn/version "3.13.0"}

           ;; Jackson deps version pinning
           com.fasterxml.jackson.core/jackson-databind {:mvn/version "2.18.3"}
           com.fasterxml.jackson.datatype/jackson-datatype-jsr310 {:mvn/version "2.18.3"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../../../../clj-otel-api"}

           ;; Clojure wrapper of autoconfigure OpenTelemetry SDK extension
           com.github.steffan-westcott/clj-otel-sdk-extension-autoconfigure
           {:local/root "../../../../../clj-otel-sdk-extension-autoconfigure"}

           ;; Clojure wrapper of JVM metrics instrumentation
           com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java17
           {:local/root "../../../../../clj-otel-instrumentation-runtime-telemetry-java17"}

           ;; OpenTelemetry exporter that uses OTLP
           io.opentelemetry/opentelemetry-exporter-otlp {:mvn/version "1.43.0"}

           ;; Automatically adds OpenTelemetry resources to exported telemetry
           io.opentelemetry.instrumentation/opentelemetry-resources {:mvn/version "2.9.0-alpha"}

           ;; Reitit HTTP router
           metosin/jsonista {:mvn/version "0.3.13"}
           metosin/malli {:mvn/version "0.17.0"}
           metosin/muuntaja {:mvn/version "0.6.11"}
           metosin/reitit-malli {:mvn/version "0.8.0"}
           metosin/reitit-middleware {:mvn/version "0.8.0"}
           metosin/reitit-ring {:mvn/version "0.8.0"}

           ;; Utilities for core.async
           org.example/common.core-async.utils {:local/root "../../../../common/core-async.utils"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../../../../common/system"}

           ;; Ring-Jetty web server integration
           ring/ring-jetty-adapter {:mvn/version "1.14.1"}

           ;; Uncomment the following io.grpc deps to use them instead of OkHttp for OTLP exporter
           ; io.grpc/grpc-netty-shaded {:mvn/version "1.71.0"}
           ; io.grpc/grpc-protobuf {:mvn/version "1.71.0"}
           ; io.grpc/grpc-stub {:mvn/version "1.71.0"}

          }

 :aliases {:log4j {:extra-deps {;; Log4j2 OTLP appender
                                io.opentelemetry.instrumentation/opentelemetry-log4j-appender-2.17 {:mvn/version "2.9.0-alpha"}

                                ;; Add trace_id, span_id and trace_flags to Log4j2 NDC
                                io.opentelemetry.instrumentation/opentelemetry-log4j-context-data-2.17-autoconfigure
                                {:mvn/version "2.9.0-alpha"}

                                ;; Redirect SLF4J, Apache (Jakarta) Commons Logging and java.util.logging to Log4j2 implementation
                                org.apache.logging.log4j/log4j-core        {:mvn/version "2.24.3"}
                                org.apache.logging.log4j/log4j-jcl         {:mvn/version "2.24.3"}
                                org.apache.logging.log4j/log4j-jul         {:mvn/version "2.24.3"}
                                org.apache.logging.log4j/log4j-slf4j2-impl {:mvn/version "2.24.3"}}

                   :jvm-opts   ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                                "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 nrepl/nrepl           {:mvn/version "1.3.1"}
                                 http-kit/http-kit     {:mvn/version "2.8.0"}}}}}
