{:paths   ["src"]

 :deps    {org.clojure/clojure                      {:mvn/version "1.10.3"}
           com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.0"}
           ring/ring-jetty-adapter                  {:mvn/version "1.9.5"}
           org.example/common-utils.middleware      {:local/root "../../../common-utils/middleware"}}

 :aliases {
           ;; Include this alias to emit telemetry data

           :otel                  {:jvm-opts   ["-Dotel.resource.attributes=service.name=random-word-service"]
                                   :extra-deps {io.opentelemetry/opentelemetry-sdk-extension-autoconfigure {:mvn/version "1.10.1-alpha"}
                                                io.opentelemetry/opentelemetry-sdk-extension-resources     {:mvn/version "1.10.1"}}}



           ;; Select exactly one traces-* alias

           :traces-none           {:jvm-opts ["-Dotel.traces.exporter=none"]}

           :traces-collector-grpc {:jvm-opts   ["-Dotel.traces.exporter=otlp"
                                                "-Dotel.exporter.otlp.traces.protocol=grpc"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-otlp-trace {:mvn/version "1.10.1"}}}

           :traces-collector-http {:jvm-opts   ["-Dotel.traces.exporter=otlp"
                                                "-Dotel.exporter.otlp.traces.protocol=http/protobuf"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-otlp-http-trace {:mvn/version "1.10.1"}}}

           :traces-honeycomb-grpc {:jvm-opts   ["-Dotel.traces.exporter=otlp"
                                                "-Dotel.exporter.otlp.traces.protocol=grpc"
                                                "-Dotel.exporter.otlp.traces.endpoint=https://api.honeycomb.io:443"
                                                "-Dotel.exporter.otlp.headers=x-honeycomb-team=YOUR_HONEYCOMB_TEAM_API_KEY,x-honeycomb-dataset=YOUR_HONEYCOMB_DATASET"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-otlp-trace {:mvn/version "1.10.1"}}}

           :traces-honeycomb-http {:jvm-opts   ["-Dotel.traces.exporter=otlp"
                                                "-Dotel.exporter.otlp.traces.protocol=http/protobuf"
                                                "-Dotel.exporter.otlp.traces.endpoint=https://api.honeycomb.io:443/v1/traces"
                                                "-Dotel.exporter.otlp.headers=x-honeycomb-team=YOUR_HONEYCOMB_TEAM_API_KEY,x-honeycomb-dataset=YOUR_HONEYCOMB_DATASET"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-otlp-http-trace {:mvn/version "1.10.1"}}}

           :traces-lightstep-grpc {:jvm-opts   ["-Dotel.traces.exporter=otlp"
                                                "-Dotel.exporter.otlp.traces.protocol=grpc"
                                                "-Dotel.exporter.otlp.traces.endpoint=https://ingest.lightstep.com:443"
                                                "-Dotel.exporter.otlp.headers=lightstep-access-token=YOUR_LIGHTSTEP_ACCESS_TOKEN"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-otlp-trace {:mvn/version "1.10.1"}}}

           :traces-jaeger-grpc    {:jvm-opts   ["-Dotel.traces.exporter=jaeger"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-jaeger {:mvn/version "1.10.1"}}}

           :traces-zipkin         {:jvm-opts   ["-Dotel.traces.exporter=zipkin"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-zipkin {:mvn/version "1.10.1"}}}

           :traces-logging        {:jvm-opts   ["-Dotel.traces.exporter=logging"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-logging {:mvn/version "1.10.1"}}}



           ;; Select exactly one metrics-* alias

           :metrics-none          {:jvm-opts ["-Dotel.metrics.exporter=none"]}

           :metrics-logging       {:jvm-opts   ["-Dotel.metrics.exporter=logging"]
                                   :extra-deps {io.opentelemetry/opentelemetry-exporter-logging {:mvn/version "1.10.1"}}}



           ;; When using gRPC, add this alias to use Netty transport instead of default OkHttp

           :grpc-netty            {:extra-deps {io.grpc/grpc-netty-shaded {:mvn/version "1.44.0"}
                                                io.grpc/grpc-protobuf     {:mvn/version "1.44.0"}
                                                io.grpc/grpc-stub         {:mvn/version "1.44.0"}}}



           ;; Used for development of clj-otel-* libraries with the examples

           :dev                   {:override-deps {com.github.steffan-westcott/clj-otel-api {:local/root "../../../../clj-otel-api"}}}

           }}
