;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.2"}

           ;; Application configuration
           aero/aero {:mvn/version "1.1.6"}

           ;; Wrapper for Log4j2 with MapMessage support
           com.github.seancorfield/logging4j2 {:mvn/version "1.0.5"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../clj-otel-api"}

           ;; HoneyEQL EDN Query Language adapter
           com.github.tamizhvendan/honeyeql {:mvn/version "1.0.6"}

           ;; HikariCP JDBC connection pool
           hikari-cp/hikari-cp {:mvn/version "3.3.0"}

           ;; Log4j2 OpenTelemetry appender
           io.opentelemetry.instrumentation/opentelemetry-log4j-appender-2.17 {:mvn/version "2.20.1-alpha"}

           ;; Reitit HTTP routing and content handling
           metosin/reitit-malli {:mvn/version "0.9.1"}
           metosin/reitit-middleware {:mvn/version "0.9.1"}
           metosin/reitit-ring {:mvn/version "0.9.1"}

           ;; Common functions for system configuration and operation
           org.example/common.system {:local/root "../common/system"}

           ;; PostgreSQL JDBC driver
           org.postgresql/postgresql {:mvn/version "42.7.8"}

           ;; Ring-Jetty web server integration
           ring/ring-jetty-adapter {:mvn/version "1.15.2"}}

 :aliases {;; Include this alias to export telemetry data
           :otel  {:jvm-opts [;; Use the OpenTelemetry instrumentation agent
                              "-javaagent:../opentelemetry-javaagent.jar"

                              ;; Name the instrumented application or service
                              "-Dotel.service.name=rpg-service"

                              ;; Set metric export to every 5 seconds
                              "-Dotel.metric.export.interval=5000"]}

           ;; (Re)direct clojure.tools.logging and java.util.logging to Log4J2
           :log4j {:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/log4j2-factory"
                              "-Djava.util.logging.manager=org.apache.logging.log4j.jul.LogManager"]}

           ;; Include this alias for developing in the REPL
           :dev   {:extra-paths ["dev"]
                   :extra-deps  {org.clojure/data.json {:mvn/version "2.5.1"}
                                 http-kit/http-kit     {:mvn/version "2.8.1"}}}}}
