{:endpoints   {:sum-service #or [#env SUM_SERVICE_ENDPOINT "http://localhost:8081"]}
 :nrepl       {:bind "0.0.0.0"
               :port 8090}
 :server-impl #or [#env SERVER "sync"]
 :service-map {:io.pedestal.http/port 8080
               :io.pedestal.http/container-options {:max-threads 16}}}