{:endpoints   {:word-length-service #or [#env WORD_LENGTH_SERVICE_ENDPOINT "http://localhost:8081"]}
 :jetty       {:max-threads 16
               :port        8080}
 :nrepl       {:bind "0.0.0.0"
               :port 8090}
 :server-impl #or [#env SERVER "sync"]}
