;!zprint {:width 140}

{:paths ["src"]

 :deps  {org.clojure/clojure {:mvn/version "1.11.1"}
         ring/ring-core      {:mvn/version "1.10.0"}
         com.github.steffan-westcott/clj-otel-api {:local/root "../../../clj-otel-api"}}}