volumes:
  m2:
    name: example.clj-otel.m2
    external: true
  gitlibs:
    name: example.clj-otel.gitlibs
    external: true

services:

  # Example microservice planet-service
  planet-service:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    environment:
      OTEL_RESOURCE_ATTRIBUTES: "service.name=planet-service,service.instance.id=planet-service-1"
    ports:
      - "8091:8091"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../../clj-otel-api:/app/clj-otel-api:ro
      - ../../../common:/app/examples/common:ro
      - ../../../opentelemetry-javaagent.jar:/app/examples/opentelemetry-javaagent.jar:ro
      - ./planet-service/deps.edn:/app/examples/microservices/auto-instrument/interceptor/planet-service/deps.edn:ro
      - ./planet-service/dev:/app/examples/microservices/auto-instrument/interceptor/planet-service/dev:ro
      - ./planet-service/resources:/app/examples/microservices/auto-instrument/interceptor/planet-service/resources:ro
      - ./planet-service/src:/app/examples/microservices/auto-instrument/interceptor/planet-service/src:ro
    working_dir: "/app/examples/microservices/auto-instrument/interceptor/planet-service"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:otel:log4j:dev -m example.planet-service.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    cpu_count: 2
    healthcheck:
      start_period: 120s
      interval: 5s
      timeout: 1s
      retries: 2
      test: "wget --spider -q http://localhost:8081/ping || exit 1"
    depends_on:
      otel-collector:
        condition: service_started


  # Example microservice solar-system-service
  solar-system-service:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    environment:
      OTEL_RESOURCE_ATTRIBUTES: "service.name=solar-system-service,service.instance.id=solar-system-service-1"
      SERVER:
    ports:
      - "8090:8090"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../../clj-otel-api:/app/clj-otel-api:ro
      - ../../../common:/app/examples/common:ro
      - ../../../opentelemetry-javaagent.jar:/app/examples/opentelemetry-javaagent.jar:ro
      - ./solar-system-service/deps.edn:/app/examples/microservices/auto-instrument/interceptor/solar-system-service/deps.edn:ro
      - ./solar-system-service/dev:/app/examples/microservices/auto-instrument/interceptor/solar-system-service/dev:ro
      - ./solar-system-service/resources:/app/examples/microservices/auto-instrument/interceptor/solar-system-service/resources:ro
      - ./solar-system-service/src:/app/examples/microservices/auto-instrument/interceptor/solar-system-service/src:ro
    working_dir: "/app/examples/microservices/auto-instrument/interceptor/solar-system-service"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:otel:log4j:dev -m example.solar-system-service.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    cpu_count: 2
    healthcheck:
      start_period: 120s
      interval: 5s
      timeout: 1s
      retries: 2
      test: "wget --spider -q http://localhost:8080/ping || exit 1"
    depends_on:
      planet-service:
        condition: service_healthy
      otel-collector:
        condition: service_started


  # Load generator for solar-system-service
  solar-system-load-gen:
    image: clojure:temurin-22-tools-deps-alpine
    env_file: compose.env
    ports:
      - "8092:8092"      # nREPL server
    volumes:
      - m2:/root/.m2
      - gitlibs:/root/.gitlibs
      - ../../../common:/app/examples/common:ro
      - ./solar-system-load-gen/deps.edn:/app/examples/microservices/auto-instrument/interceptor/solar-system-load-gen/deps.edn:ro
      - ./solar-system-load-gen/dev:/app/examples/microservices/auto-instrument/interceptor/solar-system-load-gen/dev:ro
      - ./solar-system-load-gen/resources:/app/examples/microservices/auto-instrument/interceptor/solar-system-load-gen/resources:ro
      - ./solar-system-load-gen/src:/app/examples/microservices/auto-instrument/interceptor/solar-system-load-gen/src:ro
    working_dir: "/app/examples/microservices/auto-instrument/interceptor/solar-system-load-gen"
    command: "clojure -J-XX:MaxRAMPercentage=70.0 -J-XX:+UseG1GC -M:log4j:dev -m example.solar-system-load-gen.repl"
    mem_limit: 768mb
    memswap_limit: 768mb
    depends_on:
      solar-system-service:
        condition: service_healthy


  # OpenTelemetry Collector
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.130.1
    environment:
      GOMEMLIMIT: "400MiB"
    volumes:
      - ./otel-collector.yaml:/etc/otel-collector.yaml
    command:
      - --config=/etc/otel-collector.yaml
    mem_limit: 768mb
    memswap_limit: 768mb
    depends_on:
      tempo:
        condition: service_started
      prometheus:
        condition: service_started


  # Loki
  loki:
    image: grafana/loki:3.5.3
    volumes:
      - ./loki.yaml:/etc/loki.yaml
    command: -config.file=/etc/loki.yaml


  # Tempo
  tempo:
    image: grafana/tempo:2.8.1
    volumes:
      - ./tempo.yaml:/etc/tempo.yaml
    command:
      - -config.file=/etc/tempo.yaml


  # Prometheus
  prometheus:
    image: prom/prometheus:v3.5.0
    volumes:
      - ./prometheus.yaml:/etc/prometheus.yaml
    command:
      - --config.file=/etc/prometheus.yaml
      - --web.enable-remote-write-receiver
      - --enable-feature=exemplar-storage


  # Grafana
  grafana:
    image: grafana/grafana-oss:12.1.0
    volumes:
      - ./grafana-datasources.yaml:/etc/grafana/provisioning/datasources/grafana-datasources.yaml:ro
      - ./grafana-dashboards.yaml:/etc/grafana/provisioning/dashboards/grafana-dashboards.yaml:ro
      - ../../../common/dashboards/JVM.json:/var/lib/grafana/dashboards/JVM.json:ro
      - ../../../common/dashboards/HTTP-server-instances.json:/var/lib/grafana/dashboards/HTTP-server-instances.json:ro
      - ../../../common/dashboards/HTTP-server-routes.json:/var/lib/grafana/dashboards/HTTP-server-routes.json:ro
      - ../../../common/dashboards/HTTP-client.json:/var/lib/grafana/dashboards/HTTP-client.json:ro
      - ./dashboards/overview.json:/var/lib/grafana/dashboards/overview.json:ro
      - ./dashboards/reports-and-statistic-lookups.json:/var/lib/grafana/dashboards/reports-and-statistic-lookups.json:ro
    environment:
      - GF_ANALYTICS_REPORTING_ENABLED=false
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/var/lib/grafana/dashboards/overview.json
      - GF_NEWS_NEWS_FEED_ENABLED=false
    ports:
      - "3000:3000"       # Grafana web interface
    depends_on:
      - loki
      - tempo
      - prometheus

