;!zprint {:style [:respect-nl] :width 140}

{:paths   ["src" "resources"]

 :deps    {org.clojure/clojure {:mvn/version "1.12.3"}

           ;; Logback implementation of SLF4J
           ch.qos.logback/logback-classic {:mvn/version "1.5.23"}

           ;; Logback appender and context data provider
           com.github.steffan-westcott/clj-otel-adapter-logback {:local/root "../../clj-otel-adapter-logback"}

           ;; Clojure wrapper of OpenTelemetry API
           com.github.steffan-westcott/clj-otel-api {:local/root "../../clj-otel-api"}

           ;; Clojure wrapper of JVM metrics instrumentation
           com.github.steffan-westcott/clj-otel-instrumentation-runtime-telemetry-java8
           {:local/root "../../clj-otel-instrumentation-runtime-telemetry-java8"}

           ;; Clojure wrapper of autoconfigure OpenTelemetry SDK extension
           com.github.steffan-westcott/clj-otel-sdk-extension-autoconfigure
           {:local/root "../../clj-otel-sdk-extension-autoconfigure"}

           ;; Common macros for SLF4J logging with bound, current or explicit context
           org.example/slf4j.utils {:local/root "../common/slf4j.utils"}}

 :aliases {;; Autoconfiguration properties and selected dependencies
           :otel       {:jvm-opts   [;; Name the instrumented application or service
                                     "-Dotel.service.name=triangular-app"

                                     ;; Export metrics to Prometheus via HTTP server for scraping
                                     "-Dotel.metrics.exporter=prometheus"

                                     ;; Set metric export to every 10 seconds
                                     "-Dotel.metric.export.interval=10000"

                                     ;; Send log records to console rather than OTLP, as we lack a proper
                                     ;; logging backend in this simple example
                                     "-Dotel.logs.exporter=console"]

                        :extra-deps {;; Automatically add various OpenTelemetry resources to exported telemetry
                                     io.opentelemetry.instrumentation/opentelemetry-resources {:mvn/version "2.23.0-alpha"}

                                     ;; Enable export of telemetry using OpenTelemetry Protocol (OTLP)
                                     io.opentelemetry/opentelemetry-exporter-otlp             {:mvn/version "1.57.0"}

                                     ;; Enable export of metrics to Prometheus via HTTP server for scraping
                                     io.opentelemetry/opentelemetry-exporter-prometheus       {:mvn/version "1.57.0-alpha"}

                                     ;; Enable export of telemetry debugging to console - Could remove this if unused
                                     io.opentelemetry/opentelemetry-exporter-logging          {:mvn/version "1.57.0"}}}

           ;; Include this alias for the OTLP exporter gRPC implementation to use Netty transport instead of default OkHttp
           :grpc-netty {:extra-deps {io.grpc/grpc-netty-shaded {:mvn/version "1.77.0"}
                                     io.grpc/grpc-protobuf     {:mvn/version "1.77.0"}
                                     io.grpc/grpc-stub         {:mvn/version "1.77.0"}}}

           ;; (Re)direct clojure.tools.logging and java.util.logging to SLF4J
           :slf4j      {:jvm-opts ["-Dclojure.tools.logging.factory=clojure.tools.logging.impl/slf4j-factory"]}

           ;; Initialize Clojure classes at build time with GraalVM native-image
           :native     {:extra-deps {com.github.clj-easy/graal-build-time {:mvn/version "1.0.5"}}}}}
