;!zprint {:width 140}

{:paths ["src"]

 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.github.steffan-westcott/clj-otel-api {:mvn/version "0.1.4"}
        com.github.steffan-westcott/clj-otel-sdk {:mvn/version "0.1.4"}
        com.github.steffan-westcott/clj-otel-sdk-extension-resources {:mvn/version "0.1.4"}}

 :aliases
 {;; Select any number of traces-* aliases

  :traces-otlp {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-otlp {:mvn/version "0.1.4"}}}

  :traces-jaeger-grpc {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-jaeger-grpc {:mvn/version "0.1.4"}}}

  :traces-jaeger-thrift {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-jaeger-thrift {:mvn/version "0.1.4"}}}

  :traces-zipkin {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-zipkin {:mvn/version "0.1.4"}}}

  :traces-logging {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-logging {:mvn/version "0.1.4"}}}

  :traces-logging-otlp {:extra-deps {com.github.steffan-westcott/clj-otel-exporter-logging-otlp {:mvn/version "0.1.4"}}}



  ;; When using gRPC, add this alias to use Netty transport instead of default OkHttp

  :grpc-netty {:extra-deps {io.grpc/grpc-netty-shaded {:mvn/version "1.47.0"}
                            io.grpc/grpc-protobuf     {:mvn/version "1.47.0"}
                            io.grpc/grpc-stub         {:mvn/version "1.47.0"}}}



  ;; Used for development of clj-otel-* libraries with the examples

  :dev {:override-deps {com.github.steffan-westcott/clj-otel-api {:local/root "../../clj-otel-api"}
                        com.github.steffan-westcott/clj-otel-sdk {:local/root "../../clj-otel-sdk"}
                        com.github.steffan-westcott/clj-otel-sdk-extension-resources {:local/root "../../clj-otel-sdk-extension-resources"}
                        com.github.steffan-westcott/clj-otel-exporter-otlp {:local/root "../../clj-otel-exporter-otlp"}
                        com.github.steffan-westcott/clj-otel-exporter-jaeger-grpc {:local/root "../../clj-otel-exporter-jaeger-grpc"}
                        com.github.steffan-westcott/clj-otel-exporter-jaeger-thrift {:local/root "../../clj-otel-exporter-jaeger-thrift"}
                        com.github.steffan-westcott/clj-otel-exporter-zipkin {:local/root "../../clj-otel-exporter-zipkin"}
                        com.github.steffan-westcott/clj-otel-exporter-logging {:local/root "../../clj-otel-exporter-logging"}
                        com.github.steffan-westcott/clj-otel-exporter-logging-otlp {:local/root "../../clj-otel-exporter-logging-otlp"}}}

 }}
