;!zprint {:width 140}

{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.0"}
           com.github.steffan-westcott/clj-otel-api {:local/root "../clj-otel-api"}
           io.opentelemetry/opentelemetry-sdk-common {:mvn/version "1.51.0"}}
 :aliases {:release  {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.9"}}}
           :snapshot {:override-deps {com.github.steffan-westcott/clj-otel-api {:mvn/version "0.2.9-SNAPSHOT"}}}}}